header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
    display: block;
}
<--Body-->
body {
    font-family: Lexend, Times, sans-serif;
    line-height: 1.4em;
    margin: 0px;
    background-image: url(images/backgroundcopy.png)
}

#logo {
    width: 100px;
}
nav,
footer {
    clear: both;
    background-color: #323B57;
    color: white
}
h2 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 735;
    font-style: normal;
}
